
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title th:text="${title}">Title</title>
</head>
<body>

  <h1> Products </h1>
  <p> Proyecto de practica spring boot - base de datos embebida H2 </p>
  <p> frontend <a href="/h2-console">H2 database </a></p>

  <table>
    <thead>
      <th>Id</th>
      <th>Nombre</th>
      <th>Referencia</th>
      <th>Precio</th>      
      <th>Vence</th>
    </thead>
    <tbody>
      <tr th:each="product: ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.reference}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.expiration}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>