
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title th:text="${title}">Title</title>
</head>
<body>

  <h1> Products </h1>


  <!--/* 
    Andrés Segura
    <table>
      <thead>
      <th>id</th>
      <th>nombre</th>
      <th>referencia</th>
      <th>fecha</th>
    </thead>
    <tbody>
      <tr th:each="product: ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.reference}"></td>
        <td th:text="${product.created}"></td>
      </tr>
    </tbody>
  </table>
  */-->
</body>
</html>